.estilo{
	background-color: red;
	padding: 30px;
}
.clase1{
	background-color: yellow;
	padding: 20px;
}

.clase2{
	background-color: green;
	padding: 20px;
}

.highlighted{
	color: blue;
	background-color: red;
}

.alerta{
	background-color: yellow;
}

.alerta2{
	background-color: red;
}
.alerta3{
	background-color: blue;
}

.remove{
	float: right;
	color: red;
}

.example{
	position: relative;
	left: 20px;
	width: 100px;
	height: 100px;
	margin-top: 20px;
	background-color: #3BEAB4;
}

#pets-row{
	display: none;
}